@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0 !important;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background: #C8D6CA !important;
}

.alert-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}
.alert-box .error {
  background: #E7F5DE;
}
.alert-box .success {
  background: #99BFAA;
}
.alert-box .alert {
  width: auto;
  max-width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0 0;
}
.alert-box .alert p {
  width: auto;
  font-family: "Manjari", sans-serif;
  font-size: 100;
  font-size: 1.1em;
  color: #272424;
  padding: 0 50px;
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.scroll {
  background: #C8D6CA;
  transition: background-color 6000ms linear;
}

.navigation {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 999;
  transition: 0.2s;
}
.navigation .nav-box {
  width: 60.2%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navigation .nav-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #5C868D;
  top: 60px;
}
.navigation .nav-box .logo {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigation .nav-box .logo h1 {
  font-size: 1.6em;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  color: #272424;
}
.navigation .nav-box .items {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation .nav-box .items .item {
  width: auto;
  padding: 10px;
  height: auto;
  color: #272424;
  font-size: 1.5em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: ease-in-out 0.15s;
}
.navigation .nav-box .items .item:hover {
  transform: scale(1.1);
  font-weight: 700;
  color: #6C3D46;
}

footer h1 {
  text-align: center;
  font-size: 1.6em;
  font-family: "Open Sans", sans-serif;
  color: #272424;
  margin-top: -75px !important;
}

.modal-window {
  position: fixed;
  background: rgba(0, 0, 0, 0.95);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
@media (max-width: 560px) {
  .modal-window {
    width: 100%;
    height: 100%;
  }
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  color: #272424;
}
.modal-window > div {
  width: 510px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #E7F5DE;
}
@media (max-width: 560px) {
  .modal-window > div {
    width: 100%;
  }
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 560px) {
  .modal-window h1 {
    font-size: 100%;
  }
}
.modal-window .modal-close {
  color: #272424;
  line-height: 50px;
  font-size: 100%;
  font-weight: 700;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  width: 70px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}
.modal-window .modal-close:hover {
  color: #5C868D;
}
.modal-window .form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  color: #272424;
}
.modal-window .form-login .input-login {
  display: block;
  margin: 5px 0px 20px 0px;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  border: none;
  background: none;
  outline: none;
  border: none;
  border-bottom: 4px solid #5C868D;
  text-align: center;
}
.modal-window .form-login .label-login {
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  align-items: center;
}
.modal-window .form-login .field-wrap-login {
  width: 80%;
}
.modal-window .form-login .button-login {
  padding: 10px;
  width: 100px;
  font-size: 15px;
  background-color: transparent;
  border: 3px solid #5C868D;
  cursor: pointer;
  color: #272424;
  font-family: "Roboto", sans-serif;
  transition: 0.2s;
}
.modal-window .form-login .button-login:hover {
  background-color: #5C868D;
  color: #272424;
  font-weight: 700;
}

.main-container {
  width: 60%;
  height: auto;
  z-index: 0;
  position: relative;
  margin: 0 auto !important;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.main-container .news-box {
  width: 60%;
  height: auto;
  position: relative;
}
.main-container .news-box .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .news-box .box a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #272424;
  font-size: 1.2em;
  background: #99BFAA;
  padding: 10px 20px;
  transition: ease-in-out 0.2s;
}
.main-container .news-box .box a i {
  padding-right: 10px;
}
.main-container .news-box .box a:hover {
  transform: scale(1.1);
}
.main-container .news-box h1 {
  font-size: 3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #272424;
}
.main-container .news-box .news {
  position: relative;
  height: 200px;
  width: 100%;
  background: #99BFAA;
  margin-top: 20px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
}
.main-container .news-box .news a {
  color: inherit;
  display: flex;
}
.main-container .news-box .news .content {
  width: 70%;
  height: 100%;
  padding: 15px;
}
.main-container .news-box .news .content h2 {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.main-container .news-box .news .content .info {
  width: 100%;
  height: 120px;
  position: relative;
}
.main-container .news-box .news .content .info p {
  display: block;
  display: -webkit-box;
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  line-height: 18px;
  height: 100px;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-container .news-box .news .content .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .news-box .news .content .box span {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}
.main-container .news-box .news .content .box .views {
  font-size: 1.2em;
}
.main-container .news-box .news .content .box .views span {
  padding-left: 10px;
}
.main-container .news-box .news .img-box {
  width: 30%;
  height: 100%;
}
.main-container .news-box .news .img-box img {
  height: 100%;
  width: 100%;
}
.main-container .line {
  width: 8px;
  height: auto;
  background: #5C868D;
}
.main-container .info {
  width: 30%;
  height: 400px;
  position: relative;
}
.main-container .info .best-authors,
.main-container .info .best-news {
  width: 100%;
  height: auto;
  background: #99BFAA;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.main-container .info .best-authors:last-child,
.main-container .info .best-news:last-child {
  margin-top: 50px !important;
}
.main-container .info .best-authors h3,
.main-container .info .best-news h3 {
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.main-container .info .best-authors p, .main-container .info .best-authors a,
.main-container .info .best-news p,
.main-container .info .best-news a {
  padding-top: 15px;
  font-family: "Roboto", sans-serif;
  width: 50%;
}
.main-container .info .best-authors p span, .main-container .info .best-authors a span,
.main-container .info .best-news p span,
.main-container .info .best-news a span {
  font-size: 1.4em;
  font-weight: 700;
}
.main-container .info .best-authors .link,
.main-container .info .best-news .link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .info .best-authors .views-box,
.main-container .info .best-news .views-box {
  padding-left: 20px;
  padding-top: 15px;
}
.main-container .info .best-authors .views-box .views,
.main-container .info .best-news .views-box .views {
  font-size: 1.1em;
  font-weight: 700;
  color: #6C3D46;
  padding-left: 5px;
}
.main-container .info .best-authors a,
.main-container .info .best-news a {
  cursor: pointer;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
}
.main-container .info .best-authors a:hover,
.main-container .info .best-news a:hover {
  color: #6C3D46;
  font-weight: 700;
  letter-spacing: 2px;
}

.reg-container {
  width: 60%;
  height: auto;
  z-index: 0;
  position: relative;
  margin: 0 auto !important;
  padding-top: 120px;
  padding-bottom: 120px;
}
.reg-container h1 {
  font-size: 4em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #272424;
  letter-spacing: 2px;
}
.reg-container .reg-form {
  height: 100%;
  width: 350px;
  padding-top: 50px;
  margin: 0 auto !important;
  display: block;
  color: #272424;
}
.reg-container .reg-form .form-group {
  padding: 10px 0px;
}
.reg-container .reg-form .form-group label {
  display: block;
  padding: 5px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}
.reg-container .reg-form .form-group input {
  line-height: 20px;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: inherit;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  color: #272424;
  padding: 0px 10px;
  font-size: 1.1em;
  font-family: "Roboto", sans-serif;
  background: #99BFAA;
  outline: none;
}
.reg-container .reg-form .form-group .even {
  background: #E7F5DE;
}
.reg-container .reg-form p {
  font-size: 0.75em;
  line-height: 15px;
  padding: 5px 0px;
  font-family: "Roboto", sans-serif;
}
.reg-container .reg-form input[type=submit] {
  padding: 15px 20px 10px 20px;
  background: #E7F5DE;
  color: #272424;
  border: inherit;
  outline: none;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin: 0 auto !important;
  margin-top: 10px !important;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.reg-container .reg-form input[type=submit]:hover {
  background: #99BFAA;
  color: #272424;
  transform: scale(1.1);
}
.reg-container .reg-form .privacy {
  padding: 20px 0px;
  position: relative;
  z-index: 2;
}
.reg-container .reg-form .privacy a {
  color: #5C868D;
  font-weight: 700;
}

.news-container {
  width: 60%;
  height: auto;
  z-index: 0;
  position: relative;
  margin: 0 auto !important;
  padding-top: 120px;
  padding-bottom: 120px;
}
.news-container .news {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.news-container .news .content {
  width: 60%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  color: #272424;
  position: relative;
}
.news-container .news .content h1 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.news-container .news .content p {
  padding-top: 20px;
  font-size: 1.1em;
}
.news-container .news .content .box {
  margin-top: 50px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #5C868D;
}
.news-container .news .content .box .views {
  font-size: 1.2em;
}
.news-container .news .content .box .views span {
  padding-left: 10px;
}
.news-container .news .img-box {
  max-width: 30%;
  height: 30%;
}
.news-container .news .img-box img {
  width: 100%;
  height: 100%;
}

.user-container {
  width: 60%;
  height: auto;
  z-index: 0;
  position: relative;
  margin: 0 auto !important;
  padding-top: 120px;
  padding-bottom: 120px;
}
.user-container .user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  font-family: "Roboto", sans-serif;
  color: #272424;
}
.user-container .user-data h2 {
  font-size: 1.5em;
}
.user-container .user-data .box {
  color: #272424;
}
.user-container .user-data .box input {
  width: 250px;
  border: inherit;
  outline: none;
  background: inherit;
  font-size: 1.5em;
  border-bottom: 3px solid #5C868D;
}
.user-container .user-data .box input::-webkit-input-placeholder, .user-container .user-data .box input:-moz-placeholder, .user-container .user-data .box input:-moz-placeholder, .user-container .user-data .box input:-ms-input-placeholder, .user-container .user-data .box input::placeholder {
  color: #272424;
}
.user-container .user-data .box input::placeholder {
  color: #272424;
}
.user-container .user-data .box a {
  font-size: 1.5em;
  color: #272424;
  transition: ease-in-out 0.15s;
}
.user-container .user-data .box a:hover {
  letter-spacing: 1px;
  font-weight: 700;
}
.user-container .user-news {
  width: 100%;
  height: 200px;
  margin-top: 50px !important;
  background: #99BFAA;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
}
.user-container .user-news .content {
  width: 70%;
  height: 100%;
  padding: 15px;
}
.user-container .user-news .content h2 {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
.user-container .user-news .content p {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  line-height: 18px;
  width: 100%;
  height: 120px;
}
.user-container .user-news .content .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-container .user-news .content .box span {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}
.user-container .user-news .content .box .views {
  font-size: 1.2em;
}
.user-container .user-news .content .box .views span {
  padding-left: 10px;
}
.user-container .user-news .img-box {
  width: 20%;
  height: 100%;
  position: relative;
}
.user-container .user-news .img-box .edit {
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  left: -30px;
  background: #E7F5DE;
  color: #272424;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  transition: ease-in-out 0.2s;
}
.user-container .user-news .img-box .edit:hover {
  background: #5C868D;
}
.user-container .user-news .img-box img {
  height: 100%;
  width: 100%;
}

.edit-container {
  width: 60%;
  height: auto;
  z-index: 0;
  position: relative;
  margin: 0 auto !important;
  padding-top: 120px;
  padding-bottom: 120px;
}
.edit-container h1 {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #272424;
}
.edit-container .btn {
  background: #99BFAA;
  width: 100px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #272424;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  border: 2px solid #6C3D46;
  transition: ease-in-out 0.2s;
}
.edit-container .btn i {
  padding-right: 10px;
}
.edit-container .btn:hover {
  transform: scale(1.1);
}
.edit-container .edit-form {
  width: 100%;
  height: auto;
  padding-top: 20px;
}
.edit-container .edit-form .form-group {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 30px !important;
}
.edit-container .edit-form .form-group p {
  font-size: 1.2em;
  color: #272424;
  font-family: "Roboto", sans-serif;
}
.edit-container .edit-form .form-group label {
  font-size: 1.5em;
  color: #272424;
  font-family: "Roboto", sans-serif;
  margin-right: 50px !important;
}
.edit-container .edit-form .form-group .input-edit {
  background: #99BFAA;
  border: none;
  width: 80%;
  font-size: 1.2em;
  color: #272424;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  right: 0;
}
.edit-container .edit-form .form-group .box {
  display: flex;
  flex-direction: column;
}
.edit-container .edit-form .form-group .box .img-input {
  margin-top: 20px !important;
}
.edit-container .edit-form .form-group .search {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.edit-container .edit-form .form-group .search input[type=text] {
  width: 80%;
}
.edit-container .edit-form .form-group .search input[type=text] .result {
  width: 100%;
  box-sizing: border-box;
}
.edit-container .edit-form .form-group .search .result {
  position: absolute;
  z-index: 999;
  top: 100%;
  right: 0;
  background: #5C868D;
  width: 80%;
  max-height: 160px;
  overflow-y: auto;
}
.edit-container .edit-form .form-group .search .result p {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #99BFAA;
  border-top: none;
  cursor: pointer;
  font-family: "Manjari", sans-serif;
  font-size: 1.2em;
  color: #272424;
}
.edit-container .edit-form .form-group .search .result p:hover {
  background: #99BFAA;
}

/*# sourceMappingURL=styles.css.map */
