.user-container {
    width: 60%;
    height: auto;
    z-index: 0;
    position: relative;
    margin: 0 auto !important;
    padding-top: 120px;
    padding-bottom: 120px;
    .user-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        font-family: 'Roboto', sans-serif;
        color: $fontCL;
        h2 {
            font-size: 1.5em;
        }
        .box {
            color: $fontCL;
            input {
                width: 250px;
                border: inherit;
                outline: none;
                background: inherit;
                font-size: 1.5em;
                border-bottom: 3px solid $forCL;
                &::-webkit-input-placeholder, &:-moz-placeholder,
                &:-moz-placeholder, &:-ms-input-placeholder, &::placeholder {
                    color: $fontCL;
                }
                &::placeholder {
                    color: $fontCL;
                }
            }
            a {
                font-size: 1.5em;
                color: $fontCL;
                transition: ease-in-out 0.15s;
                &:hover {
                    letter-spacing: 1px;
                    font-weight: 700;
                }
            }
        }
    }
    .user-news {
        width: 100%;
        height: 200px;
        margin-top: 50px !important;
        background: $thiCL;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        display: flex;
        justify-content: space-between;
        .content {
            width: 70%;
            height: 100%;
            padding: 15px;
            h2 {
                font-size: 1.2em;
                font-family: 'Open Sans', sans-serif;
                font-weight: 700;
            }
            p {
                font-family: 'Roboto', sans-serif;
                padding-top: 10px;
                line-height: 18px;
                width: 100%;
                height: 120px;
            }
            .box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.9em;
                }
                .views {
                    font-size: 1.2em;
                    span {
                        padding-left: 10px;
                    }
                }
            }
        }
        .img-box {
            width: 20%;
            height: 100%;
            position: relative;
            .edit{
                cursor: pointer;
                outline: none;
                border: none;
                position: absolute;
                width: 60px;
                height: 60px;
                top: -30px;
                left: -30px;
                background: $secCL;
                color: $fontCL;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5em;
                transition: ease-in-out 0.2s;
                &:hover {
                    background: $forCL;
                }
            }
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}